*.env
*.tex
*.DS_Store
*.yaml
*.do
*.latex
*.Zone:Identifier
*.idea
*.vscode
*Icon?
*credentials.php
*/vendor
*/Test
*composer.phar
*pull.bat
*web.config
*easteregg1.jpg
*easteregg2.jpg
connect.php
dhcpdumb.txtdhcpdump.bat
