/*-----------------------------General Start-----------------------------*/
@import url('http://fonts.cdnfonts.com/css/boycott');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-color: black;*/
  background-repeat: no-repeat !important;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #1a626f, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #529bcf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #3d67c2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #3161d9, transparent),
  linear-gradient(#7959ca, #1a626f 30%, #a73fe3 50%, #b738f7 70%, #fec66d 100%) !important;
  background-size: cover !important;
}

.body {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.body2 {

  max-width: 1080px;
  margin: 0 auto;
}

/*------------------------------General End------------------------------*/
/*------------------------------Header Start-----------------------------*/
.header-style, .nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.nav {
  position: relative;
  background-color: #2A2A2A;
  padding-left: 1%;
  margin: 1.5% 0 0 0;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(255, 0, 0, 0.5);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 660px;
}

.h-sign {
  opacity: 0.4;
  color: white;
  position: absolute;
  width: 200px;
  left: 115%;
  transition: 1s;
  pointer-events: none;
}

.nav input:checked ~ .h-sign {
  opacity: 0;

}

.nav input:hover ~ span {
  background-color: #0386FF;
}

.menu li {
  list-style: none;
  margin: 0 5px;
  color: #ffffff;
}

.menu li.line {
  pointer-events: none;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #0386FF;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 16px;
  top: 18px;
  width: 20px;
  height: 4px;
  border-radius: 50px;
  background-color: #fff;
  pointer-events: none;
  transition: 0.5s;
  transform: rotate(-90deg);
}

.nav input:checked ~ span {
  background-color: #ff0000;
  transform: rotate(180deg);
  left: 18px;
}

.dropbtn {
  background: none;
  color: #fff;
  font-size: 16px;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;

}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #2A2A2A;
  min-width: 160px;
  box-shadow: 0 8px 15px rgba(255, 0, 0, 0.5);
  z-index: 1;
  transition: 0.5s;
  margin-top: 20px;
  border-radius: 0 20px 20px 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 20px;
  transition: 0.5s;

}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.5s;

}

.dropdown:hover .dropbtn {
  color: #0386FF;
  transition: 0.5s;

}

/*-------------------------------Header End-------------------------------*/
/*------------------------------Events Start------------------------------*/
.events-content {
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -10px;
}

.event-h {
  font-weight: 600;
}

.event-p {
  font-weight: 500;
}

.events-title {
  color: white;
  font-family: "Orbitron", sans-serif;
  margin: 1% 0 1% 1%;
}

.event-items {
  padding: 2% 0 2% 0;
  margin: 1% auto;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 20px;
  color: black;
  width: 80%;
  transition: 1s;
  transform: translate3D(0, -1px, 0);
}

.event-items a {
  text-decoration: none;
  color: black;
}

.space-event {
  margin: 2.5%;
}

.event-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 3% 0 3%;
}

.event-items:hover {
  border-radius: 20px;
  color: white;
  width: 80%;
  margin: 1% auto;
  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.event-text {
  margin: 0 0 0 5%;
  display: block;
  align-items: center;
}

.event-text-error {
  width: 100%;
  display: block;
  text-align: center;
}


/*-------------------------------Events End-------------------------------*/
/*-------------------------------User Start-------------------------------*/

.user-content {
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%
}

.user-h {
  font-weight: 600;
}

.usr-details {
  text-align: center;
}

.usr-form {
  display: flex;
  justify-content: center;
  padding: 1% 0 0 10%;
}

.usr-form div button {
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: center;
}

.user-p {
  font-weight: 500;
  background-color: rgb(154, 154, 154);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}


.user-p:hover {
  font-weight: 500;
  background-color: rgb(179, 178, 178);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  border-radius: 20px;
  transition: 0.5s;
}

.user-title {
  color: white;
  font-family: "Orbitron", sans-serif;
  margin: 2% 0 2% 1%;
}

.user-items {
  padding: 1% 0 1% 0;
  margin: 2% 0 2% 0;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 20px;
  color: black;
  width: 100%;
  transition: 1s;
  transform: translate3D(0, -1px, 0);
}

.user-items:hover {
  border-radius: 20px;
  width: 100%;
  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
  color: white;
}

.user-text {
  margin-left: 3%;
  display: block;
  align-items: center;
}

.user-pfp img {
  box-shadow: 0 8px 25px rgb(0, 0, 0);
}

.user-pfp .usrtweak {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  height: 120px;
  width: 120px;
}

.errormessage-usr {
  color: #920303;
  padding: 0 0 3% 0;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.space-usr {
  margin: 2%;
}

.user-pfp h3 {
  text-align: center;
}

.usr-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 550;
}

.usr-buttons .info {
  background-color: rgb(154, 154, 154);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  color: white;
  border-radius: 20px;
  width: 25%;
  text-align: center;
  transition: 0.5s;
  text-decoration: none;
}

.info a {
  text-decoration: none;
  color: white;
}

.usr-buttons .info:hover {
  background-color: rgb(179, 178, 178);
  transition: 0.5s;
  cursor: pointer;
}

.usr-buttons .delete-profile {
  background-color: rgb(154, 154, 154);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  color: red;
  border-radius: 20px;
  width: 25%;
  text-align: center;
  transition: 1s;
}

.del-sub {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background: transparent;
  border-style: none;
}

.delete-profile a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

.usr-buttons .delete-profile:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  transition: 1s;
  cursor: pointer;
}

.del-prof {
  background: none;
  border: none;
  font-family: "Orbitron", sans-serif;
  color: red;
  font-weight: 500;
  font-size: 18px;
  transition: 1s;

}

.delete-profile:hover > .del-prof {
  color: white;
  transition: 1s;

}


.space {
  margin: 1.9%;
}

/*-------------------------------Event End--------------------------------*/
/*------------------------------Footer Start------------------------------*/
.footer-container {
  min-height: 10vh;
}

.footer-top {
  color: black;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));
  border-radius: 20px 20px 0 0;
  height: 9em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 -8px 15px rgba(255, 0, 0, 0.5);
}

.footer-top img {
  margin-left: 40%;

}

.text-contact {
  color: black;
  margin-left: -4.5%;
  margin-right: 5%;
  line-height: 150%;

}

.text-contact a {
  color: black;
}

.text-address {
  color: black;
  margin-left: 5%;
  margin-right: 3%;
  line-height: 150%;

}

.text-address .uni-name {
  color: black;
  width: 100%;
}

.text-address a {
  color: black;
}

.icons {
  margin-left: 6%;
  width: 5.5%;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  list-style: none;
}

.icons ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.social-icons li {
  display: list-item;
  margin-bottom: 4px;
  justify-content: space-around;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background: radial-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25));
  color: rgb(0, 0, 0);
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 30px 30px 60px 30px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.PBBlogo {
  height: 120px;
  width: 200px;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.whatsapp:hover {
  background: linear-gradient(to bottom, #1daa52, #042f2b);
}

.social-icons a.reddit:hover {
  background-color: #FF4501;
}

.social-icons a.instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #977839, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #3d419a, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #5e2a84, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #821e49, transparent),
  linear-gradient(#393372, #801e49 30%, #661c2a 50%, #6d351b 70%, #fec66d 100%);
}

/*-------------------------------Footer End-------------------------------*/
/*------------------------------Index Start------------------------------*/
#indexContainer {
  max-width: 1080px;
  margin: 0 auto;
}

#indexCenterGallery {
  grid-column: 1/4;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 5% 30% 5% 55% 5%;
}

.indexCenterTitle h1 {
  font-size: 36px;
  color: yellow;
}

#indexCenterTitle {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: left;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'boycott', sans-serif;

}

#indexCenterSubtitle {
  font-family: 'Orbitron', 'sans-serif';
  font-size: 1.3vmax;

}

#indexCenterImage {
  grid-row: 2/3;
  grid-column: 4/5;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#indexScrollTitle h2 {
  grid-row: 3/4;
  grid-column: 1/4;
  padding: 0 0 4% 0;
  color: #F1F2F1;
  font-family: 'Orbitron', 'sans-serif';
  display: flex;
  align-items: center;
}

.indexScrollGroup {
  grid-row: 4/5;
  grid-column: 1/4;
  overflow-y: hidden;
  display: flex;
  grid-column-gap: 2vh;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  margin: 0 auto;
}

.indexScrollItem img {
  display: flex;
  justify–content: space-around;
  margin: auto;
  border-radius: 20px;
  width: 250px;
  height: 100px;

}

.indexScrollItem a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-align: center;
}

.indexScrollItem h4 {
  padding: 0 0 10% 0;
}

.indexScrollItem {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  transform: translate3D(0, -1px, 0);
  background-color: rgba(174, 173, 173, 0.55);
  border-radius: 20px;
  color: black;
  width: 200px;
  height: 180px;
  margin: 0 5% 5% 2%;
  padding: 4% auto

}

.indexScrollItem:hover {
  border-radius: 20px;
  color: black;

  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.index-img {
  max-width: 70%;
  max-height: 70%;
}

.indexScrollSpacer {
  height: 100%;
  width: 5vw;
}

#indexMoreButton {
  text-align: center;
  margin-bottom: 8vh;
  margin-top: -10vw;
  font-size: 1.7vmax;
}

.indexa {
  color: white;
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 1vh;
  background: grey;
  font-family: "Orbitron", sans-serif;

}

.indexa:hover {
  color: yellow;
}

/*------------------------------Index End------------------------------*/
/*--------------------------Leaderboard Start--------------------------*/
.center {
  display: flex;
  justify-content: center;
}

.leaderboard {
  font-family: "Orbitron", sans-serif;
  border-collapse: collapse;
  width: 65%;
  margin: 3% 0 3% 0;
  text-transform: uppercase;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(179, 178, 178);
  pointer-events: none;
  box-shadow: 0 0 25px #ff0000;

}

.ldt, .ldh {
  border: 4px solid;
  text-align: center;
  padding: 3% 0 3% 0;
  font-weight: 600;
  font-size: 18px;
  pointer-events: none;

}

.ldh {
  font-weight: 700;
  font-size: 20px;
}

.leadnote {
  background-color: rgb(179, 178, 178);
  border-radius: 20px;
  margin: 0 auto;
  max-width: 65%;
  color: #ba1616;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding: 2% 0 2% 0;
  box-shadow: 0 0 25px #ff0303;

}

/*---------------------------Leaderboard End---------------------------*/
/*------------------------------Control Robot Start------------------------------*/
.streamContainer h1 {
  margin-top: 60px;
  margin-left: 30px;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
}

.controlBox {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: 2 / 3;
  margin-left: 30px;
  margin-top: -130px;
  width: 42em;
}

.controlBox h3 {
  grid-column: 1 / 5;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
}

.robotControl {
  width: 10em;
  height: 2em;
  background-color: #B560FF;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  line-height: 2em;
  margin: 0.5em 10em 0.5em 0;
  cursor: pointer;
}

.robotControl:hover {
  background: rgb(64 90 167);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(64 90 167),
  0 0 25px rgb(64 90 167),
  0 0 50px rgb(64 90 167),
  0 0 100px rgb(64 90 167);
  cursor: pointer;
}

/*---------------------------Control Robot End---------------------------*/

/*--------------------------- Profile ---------------------------------*/
#profileCenterTitle {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: left;
  color: whitesmoke;
  font-family: 'boycott', sans-serif;
}

.robot-details {
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 600;
  margin: 0 auto;
  max-width: 100%;

}

.squarecolor {
  background-color: lightslategray;
  width: 1000px;
  border-radius: 60px;
  margin: 50px;
}

.squarecolorsmall {
  background-color: lightgray;
  width: 500px;
  height: 30px;
  border-radius: 60px;
  min-height: 10em;
  float: left;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: black;
}

.squarecolorbig {
  background-color: lightgray;
  border-radius: 60px;
  padding: 100px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.overall {
  width: 500px;
  height: 500px;
}

.overall2 {
  width: 400px;
  height: 400px;
  float: right;
  display: flex;
  align-items: stretch;
  margin: -10px;
  transform: translate(-50px, -400px);
}

.robotimg {
  width: 200px;
  height: 184px;
  margin: -20px;
  padding: 40px;
}

/*--------------------------- Profile End ---------------------------------*/
/*--------------------------- Live Stream ---------------------------------*/

.submit_txt_db {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  margin-left: 270px;
  margin-top: 15px;
  background-color: lightsteelblue;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}

.submit_txt_db:hover {
  color: #0386FF;
}

.streamContainer {
  width: 98vw;
  margin: 0 auto;
  height: 97vh;
  display: grid;
  grid-template-rows: 40vh 3vh 6vh 60vh 6vh 21vh;
  grid-template-columns: 39vw 20vw 39vw;
}

.space {
  width: 1080px;
}

#stream_video {
  margin-left: 5vh;
  margin-top: 15vh;
  position: relative;
  margin-bottom: -40vh;
  margin-right: -40vh;
  overflow: hidden;
}

#stream_video iframe, #stream_video object, #stream_video embed {
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 555px;
}


.box {
  margin-top: -41vw;
  margin-bottom: 30vw;
  margin-left: 70vw;
  margin-right: 10vw;
}

.user {
  margin-bottom: 10px;
}

.chatbox {
  width: 360px;
  height: 400px;
  border: 3px #3d67c2 solid;
  overflow: auto;
  border-radius: 15px;
  background-color: white;
  font-family: monospace;
  font-size: 15px;
}

.chatenter {
  border: 3px #3d67c2 solid;
  background-color: #3d67c2;
  border-radius: 15px;
  width: 360px;
  height: 150px;
  border-radius: 5px;
}

.chatenter label {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

#message {
    width: 90%;
    padding: 18px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
}

/* -------------------------------Vote for a game page ----------------------------------------------------------------*/
a.animated-button.victoria-two {
  border: 2px solid #D24D57;
}

a.animated-button.victoria-two:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

.space-indx {
  margin: -5%;
}

.row {
  margin-right: -600px;
  margin-left: 600px;
  width: 150px;
}

.votetext {
  float: right;
  position: relative;
  left: -750px;
  top: -25px;
}

.voteimg {
  width: 150px;
  height: 150px;
  margin: 5px;
  padding: 5px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-6 {
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
  -4px -4px 5px 0px rgba(255, 255, 255, 1),
  7px 7px 20px 0px rgba(0, 0, 0, .4),
  4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.btn-6:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
  -4px -4px 5px 0px rgba(255, 255, 255, 1),
  7px 7px 20px 0px rgba(0, 0, 0, .4),
  4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.btn-6 span:hover:before {
  width: 100%;
}

.btn-6 span:hover:after {
  width: 100%;
}

.statistics {
  float: right;
}

/*-------------------------- Vote for a game page END--------------------------*/


/*-----------------------------Minigames home start-------------------------------*/

/*-----------------------------Minigames home end-------------------------------*/

/*-----------------------------2048 Game-------------------------------*/

#gameContainer {
  width: 98vw;
  margin: 0 auto;
  height: 97vh;
  display: grid;
  grid-template-rows: 40vh 3vh 6vh 20vh 6vh 21vh;
  grid-template-columns: 39vw 20vw 39vw;
  font-family: "Orbitron", sans-serif;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: -320px;
  background-color: #6665DD;

}

.grid div {
  width: 100px;
  height: 100px;
  background-color: #ACADBC;
  font-size: 60px;
  text-align: center;
  font-weight: semi-bold;
}

.score-container {
  margin-left: 50px;
  margin-top: 170px;
  font-size: x-large;
  font-weight: bold;
  padding: 17px;
}

.explanation {
  margin-left: 50px;
  margin-right: 100px;
  padding: 17px;
}

.explanation p {
  font-size: large;
  margin-top: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 66px;
  font-weight: bold;
  font-size: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  top: 150%;
  left: 50%;
  margin-left: -220px;
  background-color: #6665DD;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*------------------------------------End of 2048 Game-----------------------------*/

/*------------------------------Falling robot Game Start---------------------------*/

#game {
  width: 400px;
  height: 500px;
  margin-left: 550px;
  margin-top: 90px;
  border: 5px solid #6665DD;
  overflow: hidden;
}

#character {
  position: relative;
  top: 400px;
  left: 190px;
  z-index: 1000000;
}

#character img {
  width: 50px;
}

.block {
  width: 400px;
  height: 20px;
  background-color: #529bcf;
  position: relative;
  top: 100px;
  margin-top: -20px;
}

.hole {
  width: 50px;
  height: 20px;
  background-color: white;
  position: relative;
  top: 100px;
  margin-top: -20px;
}

.restart_button {
  margin-left: 150px;
  margin-top: 90px;
}

.restart_button button {
  padding: 10px;
  font-size: medium;
  background-color: darkslateblue;
  color: white;
  border: none;
}

#result {
  margin-top: 300px;
  margin-left: 30px;
  font-size: x-large;
  font-weight: bold;
  font-family: monospace;
}

.explanation {
  margin-left: 50px;
  margin-right: 100px;
  padding: 17px;
  margin-top: -50px;
}

.explanation p {
  font-family: monospace;
  font-size: large;
}


/*--------------------------End of Falling Robot Game------------------------------*/

/* Register page start */
.registerContainer {
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 0;
}

.registerBox {
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  transition: 1s;
  transform: translate3D(0, -1px, 0);
  background-color: rgba(174, 173, 173, 0.55);
  border-radius: 20px;
  color: black;
  width: 50%;
}

.registerBox:hover {
  border-radius: 20px;
  color: black;
  margin: 0 auto;
  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.registerBox:nth-child(1) {
  display: flex;
  justify-content: center;
}

.registerBox h1 {
  padding: 0.6em 0 15px 10px;

}

.registerBox form div {
  padding: 0 0 15px 10px;
}

.registerBox .input {
  width: 25em;
  margin: 3% 0 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 20px;
  color: black;
  height: 2.5em;
  border: none;
  font-family: "Orbitron", sans-serif;
}

.input-bttn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 20px;
  color: black;
  height: 2.5em;
  border: none;
  font-family: "Orbitron", sans-serif;
  transition: 0.3s;
}

.registerBox .input-bttn:hover {
  background-color: #279203;
  transition: 0.3s;
}

.registerBox .reg-bttn {
  width: 55%;
  margin: 0 auto;
}

.registerBox input[type="text"], input[type="password"] {
  padding-bottom: 1.3em;
}

.registerBox label {
  font-weight: bold;
  font-size: 1.2em;
}

.errormessage {
  color: #920303;
  padding: 0 0 3% 0;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.successmessage {
  color: #279203;
  padding: 0 0 3% 0;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}


/* Register page end*/
/* Add event page start */
.addEventContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.addEventBox {
  background-color: #a5aedc;
  width: 30%;
  display: flex;
  justify-content: center;
}

.addEventBox div {
  margin-top: 0.9em;
}

.addEventForm {
  margin-top: 5%;
  margin-bottom: 5%;
}

.addEventForm form input {
  margin-top: 1em;
}

.addEventBox h1 {
  margin-left: 2.7em;
}

.eventUpload {
  margin-left: 5.4em;
}

.addEventBox form:nth-child(3) {
  background-color: red;
}

.addEventBox form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.space-indx {
  margin: 15%;
}

/*-------------------------- Vote for a game page END--------------------------*/
/*--------------------------Login Start--------------------------*/
.main-content {
  margin-top: 2%;
  font-family: "Orbitron", sans-serif;
}

.loginbox {
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.errorlogin {
  color: #920303;
  margin: 0 0 -9% 0;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.logins {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 5% 0;
}

.div-robot-login {
  background-color: lightslategray;
  width: 450px;
  height: 550px;
  border-radius: 30px;
}

.div-viewer-login {
  background-color: lightslategray;
  width: 450px;
  height: 550px;
  border-radius: 30px;
}

/*Animation for div-viewer-login button*/
.login-bttn-viewer input {
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .8s;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  margin-top: 85px;
  font-family: "Orbitron", sans-serif;
  background: none;
}


.login-bttn-viewer:hover {
  background: rgb(64 90 167);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(64 90 167);
}

.login-bttn-viewer span {
  position: absolute;
  display: block;
}

.login-title {
  max-width: 1080px;
  margin: 0 auto;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  pointer-events: none;
}

/*Robot div*/
.robot-log-heading {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/*Inputs */
input[type=text], input[type=password] {
  width: 80%;
  padding: 18px;
  border-radius: 15px;
  border: none;
  margin-top: 35px;
  margin-left: 40px;
  background-color: lightgray;
}

/*Viewer div*/
.viewer-log-heading {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* Forogtten password new user */

.bttn-fg-pass, .register_new_t {
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .8s;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bttn-fg-pass:hover, .register_new_t:hover {
  background: rgb(64 90 167);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(64 90 167),
  0 0 25px rgb(64 90 167),
  0 0 50px rgb(64 90 167),
  0 0 100px rgb(64 90 167);
}

/*LOgins buttons */

.logins-bttns {
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .8s;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  background-color: rgb(133 139 191);
  border: none;
  width: 100%;
}

.logins-bttns:hover {
  background: rgb(64 90 167);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(64 90 167),
  0 0 25px rgb(64 90 167),
  0 0 50px rgb(64 90 167),
  0 0 100px rgb(64 90 167);
  cursor: pointer;
}

/*------------------------------Login End------------------------------*/
/*--------------------------Change Pass Start--------------------------*/

.passbox .passin {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  transition: 1s;
}

.passbox h3 {
  margin: 2% 0 3% 4%;
  text-align: center;

}

.space-pass {
  margin: 4%;
}

.passbut {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  background: rgb(154, 154, 154);
  padding: 2% 4% 2% 4%;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  transition: 1s;
}

.pass-content {
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%
}

.passmsgfail {
  color: #ba1616;
  text-align: center;
  font-weight: 700;
  font-size: 18px;

  text-transform: uppercase;
}

.passmsgsuc {
  color: rgb(2, 186, 2);
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.passin:hover {
  box-shadow: 0 0 25px #0353ff;
  transition: 1s;
}

.passbut:hover {
  background-color: rgb(38, 179, 2);
  box-shadow: 0 0 25px rgba(55, 255, 0, 0.4);
  transition: 1s;
  color: white;
}

.required {
  color: #ba1616;
  text-align: center;
}

/*---------------------------Change Pass End---------------------------*/

/* Betting 18+ page start */

.bettingContainer {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.bettingBox {
  transform: translate3D(0, -1px, 0);
  background-color: rgba(255, 255, 255, 0.71);
  text-align: center;
  border-radius: 20px;
  color: black;
  border: none;
  font-family: "Orbitron", sans-serif;
  transition: 0.3s;
  width: 50%;
}

.bettingBox:hover {
  border-radius: 20px;
  color: black;
  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.bettingBox select, input[type="number"] {
  height: 2.3em;
  text-align: center;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 20px;
  width: 70%;
  border: none;
  margin-bottom: 1em;
  margin-top: 0.6em;
}

.bettingBox form label {
  margin: 5em;
}

.bettingBox h1 {
  margin-top: 10%;
}

.bettingBox .input-bttn {
  width: 50%;
  margin-bottom: 2em;
}

.bettingBox .input-bttn:hover {
  background-color: #7ac8e3;
  transition: 0.3s;
}

.bettingBox img {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 4%;
}

.betmsg {
  color: #ba1616;
  text-align: center;
  margin: 0 2% 0 2%;
}


/*-------------------------- Login END--------------------------*/
/*--------------------------Feedback Overview Start--------------------------*/

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #3b65ba;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

p .del-sub {
  background: none;
  border: none;
  font-family: "Obitron", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: red;
}

/*--------------------------Feedback Overview End--------------------------*/
/*--------------------------Feedback Start--------------------------*/
.main-feed {
  /*padding-bottom: 400px;*/
}

.main-content-heading-feedback {
  padding-top: 40px;
  font-family: "Obitron", sans-serif;
  font-size: 50px;
  padding-bottom: 50px;
}

.feedback_inputs {
  font-family: "Obitron", sans-serif;
  font-size: 25px;
}

/*Button Glow */

.submit_feedback_button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.submit_feedback_button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.submit_feedback_button:active {
  color: #000
}

.submit_feedback_button:active:after {
  background: transparent;
}

.submit_feedback_button:hover:before {
  opacity: 1;
}

.submit_feedback_button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


/*--------------------------Feedback End--------------------------*/


/* Logout page start*/
.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Obitron", sans-serif;
}

.logout-h {
  font-family: "Obitron", sans-serif;
}

.logout-p {
}

.logout-container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.68);
}

.morelogout {
  height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Obitron", sans-serif;

}

/*------------------------ADMIN--------------*/

.chatbox {
  width: 360px;
  height: 400px;
  border: 3px black solid;
  overflow: auto;
  border-radius: 5px;
}

.chatenter {
  border: 3px black solid;
  width: 360px;
  height: auto;
  border-radius: 5px;
}

.ActiveRobots {
  border: 3px black solid;
  margin: 10%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.RobotBoxActivitie {
  margin: auto;
  width: 120px;
  height: 80px;
  border: 3px black solid;
  border-radius: 10px;
}

.jarvis {
  width: 80px;
  height: 80px;
  border-radius: 45%;
  border: #1a626f 3px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}

.lightred {
  background-color: red;
  border: 3px black solid;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.lightgreen {
  background-color: green;
  border: 3px black solid;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

.Sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.Sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.Sidebar a:hover {
  color: #f1f1f1;
}

.TitleforAdminPage {
  width: 400px;
  height: 400px;
  font-size: 3.5em;
  margin-left: 40%;
  margin-top: 18%;
}

.td {
  background-color: white;
  padding: 10px;
  width: 82px;
  font-size: 0.8em;
  text-decoration: none;
}

.Titlepanel {
  background-color: rgb(63, 145, 184);
  border: black 4px solid;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: 160px;
  text-decoration: none;
  margin-top: 100px;
  border-radius: 10px;
}

.table {
  border: 3px black solid;
  float: right;
  border-radius: 10px;
}

.tablecomment {
  border: 3px black solid;
  margin-left: 300px;
}
