/*-----------------------------General Start-----------------------------*/
@import url('http://fonts.cdnfonts.com/css/boycott');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #1a626f, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #529bcf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #3d67c2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #3161d9, transparent),
  linear-gradient(#7959ca, #1a626f 30%, #a73fe3 50%, #b738f7 70%, #fec66d 100%);
  background-size: cover;
}

.body {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%
}

/*------------------------------General End------------------------------*/
/*------------------------------Header Start-----------------------------*/
.header-style, .nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.nav {
  position: relative;
  background-color: #2A2A2A;
  padding-left: 1%;
  margin: 1.5% 0 0 0;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(255, 0, 0, 0.5);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 700px;
}

.h-sign {
  opacity: 0.4;
  color: white;
  position: absolute;
  width: 200px;
  left: 115%;
  transition: 1s;
  pointer-events: none;
}

.nav input:checked ~ .h-sign {
  opacity: 0;

}

.nav input:hover ~ span {
  background-color: #0386FF;
}

.menu li {
  list-style: none;
  margin: 0 5px;
  color: #ffffff;
}

.menu li.line {
  pointer-events: none;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #0386FF;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 16px;
  top: 18px;
  width: 20px;
  height: 4px;
  border-radius: 50px;
  background-color: #fff;
  pointer-events: none;
  transition: 0.5s;
  transform: rotate(-90deg);
}

.nav input:checked ~ span {
  background-color: #ff0000;
  transform: rotate(180deg);
  left: 18px;
}

/*-------------------------------Header End-------------------------------*/
/*------------------------------Events Start------------------------------*/
.events-content {
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.event-h {
  font-weight: 600;
}

.event-p {
  font-weight: 500;
}

.events-title {
  color: white;
  font-family: "Orbitron", sans-serif;
  margin: 1% 0 1% 1%;
}

.event-items {
  padding: 1% 0 1% 0;
  margin: 1% auto;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 20px;
  color: black;
  width: 80%;
  transition: 1s;
  transform: translate3D(0, -1px, 0);
}

.event-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 0 3%;
}

.event-items:hover {
  border-radius: 20px;
  color: white;
  width: 80%;
  margin: 1% auto;
  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.event-text {
  margin-left: 3%;
  display: block;
  align-items: center;
}

/*-------------------------------Events End-------------------------------*/
/*-------------------------------User Start-------------------------------*/

.user-content {
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%
}

.user-h {
  font-weight: 600;
}

.usr-details {
  text-align: center;
}

.user-p {
  font-weight: 500;
  background-color: rgb(154, 154, 154);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}

.user-p:hover {
  font-weight: 500;
  background-color: rgb(179, 178, 178);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  border-radius: 20px;
  transition: 0.5s;
}

.user-title {
  color: white;
  font-family: "Orbitron", sans-serif;
  margin: 2% 0 2% 1%;
}

.user-items {
  padding: 1% 0 1% 0;
  margin: 2% 0 2% 0;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 20px;
  color: black;
  width: 100%;
  transition: 1s;
  transform: translate3D(0, -1px, 0);
}

.user-items:hover {
  border-radius: 20px;
  width: 100%;
  transition: 1s;
  background-color: rgba(222, 222, 222, 0.35);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
  transform: translate3D(0, -1px, 0) scale(1.03);
  color: white;
}

.user-text {
  margin-left: 3%;
  display: block;
  align-items: center;
}

.user-pfp img {
  box-shadow: 0 8px 25px rgb(0, 0, 0);
}

.user-pfp .usrtweak {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  height: 120px;
  width: 120px;
}

.user-pfp h3 {
  text-align: center;
}

.usr-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 550;
}

.usr-buttons .info {
  background-color: rgb(154, 154, 154);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  color: white;
  border-radius: 20px;
  width: 25%;
  text-align: center;
  transition: 0.5s;
}

.usr-buttons .info:hover {
  background-color: rgb(179, 178, 178);
  transition: 0.5s;
  cursor: pointer;
}

.usr-buttons .delete-profile {
  background-color: rgb(154, 154, 154);
  padding: 1% 1% 1% 2%;
  margin: 0 3% 1% 0;
  color: red;
  border-radius: 20px;
  width: 25%;
  text-align: center;
  transition: 1s;
}

.usr-buttons .delete-profile:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  transition: 1s;
  cursor: pointer;
}

.space {
  margin: 1.9%;
}

/*-------------------------------Event End--------------------------------*/
/*------------------------------Footer Start------------------------------*/
.footer-top {
  color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));
  border-radius: 20px 20px 0 0;
  height: 9em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 -8px 15px rgba(255, 0, 0, 0.5);
}

.footer-top img {
  margin-left: 40%;

}

.text-contact {
  color: black;
  margin-left: -4.5%;
  margin-right: 5%;
  line-height: 150%;

}

.text-contact a {
  color: black;
}

.text-address {
  color: black;
  margin-left: 5%;
  margin-right: 3%;
  line-height: 150%;

}

.text-address .uni-name {
  color: black;
  width: 100%;
}

.text-address a {
  color: black;
}

.icons {
  margin-left: 6%;
  width: 5.5%;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  list-style: none;
}

.icons ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.social-icons li {
  display: list-item;
  margin-bottom: 4px;
  justify-content: space-around;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background: radial-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25));
  color: rgb(0, 0, 0);
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 30px 30px 60px 30px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.PBBlogo {
  height: 120px;
  width: 200px;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.whatsapp:hover {
  background: linear-gradient(to bottom, #1daa52, #042f2b);
}

.social-icons a.reddit:hover {
  background-color: #FF4501;
}

.social-icons a.instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #977839, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #3d419a, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #5e2a84, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #821e49, transparent),
  linear-gradient(#393372, #801e49 30%, #661c2a 50%, #6d351b 70%, #fec66d 100%);
}

/*-------------------------------Footer End-------------------------------*/
/*------------------------------Index Start------------------------------*/
#indexContainer {
  width: 98vw;
  margin: 0 auto;
  height: 97vh;
  display: grid;
  grid-template-rows: 30vh 3vh 6vh 20vh 6vh 21vh; /*Title+Bot_picture FreeSpace Text ScrollGroup MoreButton Footer*/
  grid-template-columns: 39vw 20vw 39vw;
}

#indexCenterGallery {
  grid-column: 1/4;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%; /*Padding Content Padding*/
  grid-template-columns: 5% 30% 5% 55% 5%; /*Padding Text FreeSpace Image Padding*/
}

#indexCenterTitle {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: left;
  color: whitesmoke;
  font-family: 'boycott', sans-serif;
}

#indexCenterSubtitle {
  font-family: 'Orbitron', 'sans-serif';
  font-size: 1.3vmax;
}

#indexCenterImage {
  grid-row: 2/3;
  grid-column: 4/5;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#indexScrollTitle {
  grid-row: 3/4;
  grid-column: 1/4;
  padding-left: 5vw;
  color: #F1F2F1;
  font-family: 'Orbitron', 'sans-serif';
  display: flex;
  align-items: center;
}

#indexScrollGroup {
  grid-row: 4/5;
  grid-column: 1/4;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: space-around;
}

.indexScrollItem {
  background-color: lightgray;
  border-radius: 30px;
  height: 100%;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexScrollItem img {
  height: 90%;
  width: auto;
}

.indexScrollSpacer {
  height: 100%;
  width: 5vw;
}

/*------------------------------Index End------------------------------*/
/*--------------------------Leaderboard Start--------------------------*/
.leaderboard {
  font-family: "Orbitron", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 3% 0 3% 0;
  text-transform: uppercase;
  border-radius: 6px;
  overflow: hidden;
  background-color: #96a2b2;
}

.ldt, .ldh {
  border: 4px solid;
  padding: 8px;
  text-align: center;
  height: 80px;
  font-weight: 600;
  font-size: 18px;
}

.ldh {
  font-weight: 700;
  font-size: 20px;
}

/*---------------------------Leaderboard End---------------------------*/
/*------------------------------Control Robot Start------------------------------*/
.controlRobotContainer{
  width: 90vw;
  margin: 5vh auto;
  height: 140vh;
  display: grid;
  grid-template-columns: 44vw 44vw;
  grid-template-rows: 15vh 70vh 60vh;
  background: rgba(255, 255, 255, 0.55); 
}
.controlRobottitle{
  align-self: center;
  padding: 8.2vh;
}
.title_color{
  color: white;
  font-family: "Orbitron", sans-serif;
}
.controlRobotvideo{
  grid-area: 2 / 1 / 3 / 3;
  justify-self: center;
  align-self: start;
}
iframe{
  border: 5px solid rgb(13, 126, 231);
  border-radius: 10px;
  width: 80vw;
  height: 60vh;
}
/*---------------------------Control Robot End---------------------------*/





