

body {
  background-color: black;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #1a626f, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #529bcf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #3d67c2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #3161d9, transparent),
  linear-gradient(#7959ca, #1a626f 30%, #a73fe3 50%, #b738f7 70%, #fec66d 100%);
  background-size: cover;
}

#indexContainer {
  width: 98vw;
  margin: 0 auto;
  height: 97vh;
  display: grid;
  grid-template-rows: 40vh 3vh 6vh 20vh 6vh 21vh;
  grid-template-columns: 39vw 20vw 39vw;
}


/*----------Game-----------*/

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin-top: 150px;
    margin-left: -350px;
    background-color: #6665DD;
    padding: 10px;

}

.grid div {
    width: 100px;
    height: 100px;
    background-color: #ACADBC;
    font-size: 60px;
    text-align: center;
    font-weight: semi-bold;
    font-family: monospace;
}

.score-container {
    margin-left: 50px;
    margin-top: 170px;
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    padding: 17px;
}

.explanation {
    margin-left: 50px;
    margin-right: 100px;
    padding: 17px;
    margin-top: -50px;
}

.explanation p {
    font-family: monospace;
    font-size: large;
}



/*----------Fine Game-----------*/
