.box {
    margin-top: -40vw;
    margin-bottom: 30vw;
    margin-left: 70vw;
    margin-right: 10vw;
    float: right;

}

.user {
  margin-bottom: 10px;
}

.chatbox{
    width: 360px;
    height: 400px;
    border: 3px #3d67c2 solid;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
}
.chatenter{
    border: 3px #3d67c2 solid;
    width: 360px;
    height: auto;
    border-radius: 5px;
}
.ActiveRobots{
    border: 3px black solid;
    margin: 10%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.RobotBoxActivitie{
    margin: auto;
    width: 120px;
    height: 80px;
    border: 3px black solid;
    border-radius: 10px;
}

.lightred{
    background-color: red;
    border: 3px black solid;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.lightgreen{
    background-color: green;
    border: 3px black solid;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-left: 50px;
}
